body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1112px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1112px;
}
#u247 {
  position:absolute;
  left:2px;
  top:548px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u248 {
  position:absolute;
  left:1146px;
  top:620px;
  width:73px;
  height:32px;
}
#u249 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_ann {
  position:absolute;
  left:1212px;
  top:616px;
  width:1px;
  height:1px;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u250 {
  position:absolute;
  left:716px;
  top:712px;
  width:172px;
  height:50px;
}
#u251 {
  position:absolute;
  left:2px;
  top:17px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_ann {
  position:absolute;
  left:881px;
  top:708px;
  width:1px;
  height:1px;
}
