body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:980px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:980px;
}
#u99 {
  position:absolute;
  left:2px;
  top:482px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  position:absolute;
  left:1240px;
  top:134px;
  width:43px;
  height:45px;
}
#u101 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_ann {
  position:absolute;
  left:1276px;
  top:130px;
  width:1px;
  height:1px;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  position:absolute;
  left:706px;
  top:743px;
  width:189px;
  height:45px;
}
#u103 {
  position:absolute;
  left:2px;
  top:14px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_ann {
  position:absolute;
  left:888px;
  top:739px;
  width:1px;
  height:1px;
}
