body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:880px;
}
#u358 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:880px;
}
#u359 {
  position:absolute;
  left:2px;
  top:432px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u360 {
  position:absolute;
  left:1102px;
  top:712px;
  width:131px;
  height:46px;
}
#u361 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_ann {
  position:absolute;
  left:1226px;
  top:708px;
  width:1px;
  height:1px;
}
#u362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u362 {
  position:absolute;
  left:735px;
  top:729px;
  width:131px;
  height:46px;
}
#u363 {
  position:absolute;
  left:2px;
  top:15px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u362_ann {
  position:absolute;
  left:859px;
  top:725px;
  width:1px;
  height:1px;
}
