body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1024px;
}
#u432 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1024px;
}
#u433 {
  position:absolute;
  left:2px;
  top:504px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u434 {
  position:absolute;
  left:878px;
  top:91px;
  width:25px;
  height:41px;
}
#u435 {
  position:absolute;
  left:2px;
  top:12px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
