body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1438px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1438px;
}
#u123 {
  position:absolute;
  left:2px;
  top:711px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124 {
  position:absolute;
  left:1133px;
  top:182px;
  width:151px;
  height:32px;
}
#u125 {
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_ann {
  position:absolute;
  left:1277px;
  top:178px;
  width:1px;
  height:1px;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  position:absolute;
  left:1133px;
  top:219px;
  width:151px;
  height:32px;
}
#u127 {
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_ann {
  position:absolute;
  left:1277px;
  top:215px;
  width:1px;
  height:1px;
}
