body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1354px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1024px;
}
#u580 {
  position:absolute;
  left:-123px;
  top:-47px;
  width:1600px;
  height:1024px;
}
#u581 {
  position:absolute;
  left:2px;
  top:504px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u582 {
  position:absolute;
  left:460px;
  top:301px;
  width:144px;
  height:31px;
}
#u583 {
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u582_ann {
  position:absolute;
  left:597px;
  top:297px;
  width:1px;
  height:1px;
}
#u584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u584 {
  position:absolute;
  left:660px;
  top:304px;
  width:116px;
  height:25px;
}
#u585 {
  position:absolute;
  left:2px;
  top:4px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u584_ann {
  position:absolute;
  left:769px;
  top:300px;
  width:1px;
  height:1px;
}
#u586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u586 {
  position:absolute;
  left:838px;
  top:304px;
  width:116px;
  height:25px;
}
#u587 {
  position:absolute;
  left:2px;
  top:4px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u586_ann {
  position:absolute;
  left:947px;
  top:300px;
  width:1px;
  height:1px;
}
#u588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u588 {
  position:absolute;
  left:1006px;
  top:304px;
  width:116px;
  height:25px;
}
#u589 {
  position:absolute;
  left:2px;
  top:4px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u588_ann {
  position:absolute;
  left:1115px;
  top:300px;
  width:1px;
  height:1px;
}
