body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:980px;
}
#u504 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:980px;
}
#u505 {
  position:absolute;
  left:2px;
  top:482px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u506 {
  position:absolute;
  left:568px;
  top:627px;
  width:118px;
  height:36px;
}
#u507 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506_ann {
  position:absolute;
  left:679px;
  top:623px;
  width:1px;
  height:1px;
}
