body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1400px;
}
#u416 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1400px;
}
#u417 {
  position:absolute;
  left:2px;
  top:692px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u418 {
  position:absolute;
  left:1271px;
  top:69px;
  width:205px;
  height:41px;
}
#u419 {
  position:absolute;
  left:2px;
  top:12px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u420 {
  position:absolute;
  left:1271px;
  top:120px;
  width:205px;
  height:37px;
}
#u421 {
  position:absolute;
  left:2px;
  top:10px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
