body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:948px;
}
#u286 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:948px;
}
#u287 {
  position:absolute;
  left:2px;
  top:466px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288 {
  position:absolute;
  left:363px;
  top:522px;
  width:875px;
  height:51px;
}
#u289 {
  position:absolute;
  left:2px;
  top:18px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288_ann {
  position:absolute;
  left:1231px;
  top:518px;
  width:1px;
  height:1px;
}
