body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1438px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1438px;
}
#u129 {
  position:absolute;
  left:2px;
  top:711px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  position:absolute;
  left:1182px;
  top:130px;
  width:96px;
  height:32px;
}
#u131 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_ann {
  position:absolute;
  left:1271px;
  top:126px;
  width:1px;
  height:1px;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u132 {
  position:absolute;
  left:280px;
  top:71px;
  width:1008px;
  height:39px;
}
#u133 {
  position:absolute;
  left:2px;
  top:12px;
  width:1004px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_ann {
  position:absolute;
  left:1281px;
  top:67px;
  width:1px;
  height:1px;
}
