body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1024px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1024px;
}
#u67 {
  position:absolute;
  left:2px;
  top:504px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  position:absolute;
  left:1239px;
  top:177px;
  width:43px;
  height:45px;
}
#u69 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_ann {
  position:absolute;
  left:1275px;
  top:173px;
  width:1px;
  height:1px;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  position:absolute;
  left:1168px;
  top:294px;
  width:95px;
  height:43px;
}
#u71 {
  position:absolute;
  left:2px;
  top:14px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_ann {
  position:absolute;
  left:1256px;
  top:290px;
  width:1px;
  height:1px;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  position:absolute;
  left:326px;
  top:279px;
  width:832px;
  height:70px;
}
#u73 {
  position:absolute;
  left:2px;
  top:27px;
  width:828px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_ann {
  position:absolute;
  left:1151px;
  top:275px;
  width:1px;
  height:1px;
}
