body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1400px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1400px;
}
#u81 {
  position:absolute;
  left:2px;
  top:692px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:331px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  position:absolute;
  left:295px;
  top:958px;
  width:1004px;
  height:331px;
}
#u83 {
  position:absolute;
  left:2px;
  top:158px;
  width:1000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_ann {
  position:absolute;
  left:1292px;
  top:954px;
  width:1px;
  height:1px;
}
