body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1489px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:308px;
}
#u206 {
  position:absolute;
  left:0px;
  top:240px;
  width:1130px;
  height:308px;
}
#u207 {
  position:absolute;
  left:2px;
  top:146px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u208 {
  position:absolute;
  left:86px;
  top:285px;
  width:706px;
  height:47px;
}
#u209 {
  position:absolute;
  left:2px;
  top:16px;
  width:702px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_ann {
  position:absolute;
  left:785px;
  top:281px;
  width:1px;
  height:1px;
}
#u210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u210 {
  position:absolute;
  left:86px;
  top:357px;
  width:747px;
  height:47px;
}
#u211 {
  position:absolute;
  left:2px;
  top:16px;
  width:743px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_ann {
  position:absolute;
  left:826px;
  top:353px;
  width:1px;
  height:1px;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u212 {
  position:absolute;
  left:86px;
  top:439px;
  width:747px;
  height:47px;
}
#u213 {
  position:absolute;
  left:2px;
  top:16px;
  width:743px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_ann {
  position:absolute;
  left:826px;
  top:435px;
  width:1px;
  height:1px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1489px;
  height:262px;
}
#u214 {
  position:absolute;
  left:0px;
  top:608px;
  width:1489px;
  height:262px;
}
#u215 {
  position:absolute;
  left:2px;
  top:123px;
  width:1485px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:201px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u216 {
  position:absolute;
  left:138px;
  top:639px;
  width:518px;
  height:201px;
}
#u217 {
  position:absolute;
  left:2px;
  top:92px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_ann {
  position:absolute;
  left:649px;
  top:635px;
  width:1px;
  height:1px;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:201px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u218 {
  position:absolute;
  left:841px;
  top:639px;
  width:632px;
  height:201px;
}
#u219 {
  position:absolute;
  left:2px;
  top:92px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_ann {
  position:absolute;
  left:1466px;
  top:635px;
  width:1px;
  height:1px;
}
#u220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u220 {
  position:absolute;
  left:10px;
  top:255px;
  width:131px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u222 {
  position:absolute;
  left:10px;
  top:625px;
  width:167px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u224 {
  position:absolute;
  left:856px;
  top:639px;
  width:189px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
